* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.txt-white {
  color: var(--white);
}

.btn {
  width: 150px;
  border-radius: 4px;
  font-size: 1.1rem;
  padding: 8px 4px;
  cursor: pointer;
}

.w-100 {
  width: 100%;
}

.tag {
  display: inline-block;
  border-radius: 4px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-weight: bold;
  padding: 4px;
}
.label {
  font-size: 0.8rem;
  color: var(--light-gray);
}

.bg-yellow {
  color: var(--black);
  background-color: var(--yellow);
}
.bg-light-blue {
  background-color: var(--aqua);
  color: var(--white);
}
.bg-green {
  background-color: var(--green);
  color: var(--white);
}
.bg-gray {
  background-color: var(--gray);
  color: var(--white);
}
.bg-red {
  background-color: var(--red);
  color: var(--white);
}
.bg-light-green {
  background-color: var(--light-green);
  color: var(--white);
}
.btn.bordered {
  border: 1px solid var(--light-gray);
  color: var(--white);
}
.input,
.textarea {
  padding: 8px 4px;
  border: 1px solid gainsboro;
  border-radius: 4px;
}
.textarea {
  width: 100%;
  height: 100px;
  resize: vertical;
  padding: 8px;
}
.row {
  width: 100%;
  display: flex;
}
:root {
  --white: rgb(236, 236, 236);
  --light-gray: rgb(146, 146, 146);
  --gray: rgb(72, 73, 82);
  --green: rgb(46, 150, 69);
  --black: rgb(20, 20, 20);
  --yellow: rgb(255, 231, 17);
  --aqua: rgb(14, 165, 165);
  --red: rgb(190, 15, 15);
  --light-green: rgb(127, 185, 18);
  --blue: rgb(29, 69, 95);
}

h1,
h2,
h3,
p,
label,
a {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  line-height: 24px;
}

input,
textarea {
  border: none;
}

input:focus,
textarea:focus {
  outline: none;
}

a,
a:visited,
a:active,
a:link {
  color: black;
  text-decoration: none;
}
button {
  background: none;
  border: none;
}

button:focus {
  outline: none;
}

img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.nav {
  display: flex;
  background-color: var(--gray);
  color: var(--white);
  justify-content: space-around;
}
.logoTitle {
  display: flex;
  align-items: center;
}
.logo {
  width: 100px;
}

.links {
  display: flex;
  align-items: center;
}

.nav .link {
  font-size: 0.9rem;
  color: var(--light-gray);
  margin-right: 16px;
}

.link.active {
  color: var(--white);
}

.link.txt-green {
  color: var(--green);
}

.banner {
  position: relative;
  display: flex;
  justify-content: flex-end;
  width: 100%;
  height: 700px;
}

.bg {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  filter: brightness(50%);
}

.content {
  width: 460px;
  position: relative;
  align-self: center;
  z-index: 10;
  text-align: end;
  right: 120px;
}
.content h1 {
  margin-bottom: 8px;
}
.btns {
  margin-top: 16px;
}

.btns > :first-child {
  margin-right: 4px;
}

.speakers {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 16px;
}

.desc {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 8px;
}

.cards {
  display: flex;
}

.speaker-card {
  display: flex;
  flex-direction: column;
  width: 350px;
  margin: 16px;
}

.card-desc {
  padding: 16px;
  border: 1px solid gainsboro;
}
.card-desc h3 {
  margin-bottom: 8px;
}

.place {
  display: flex;
}

.place-desc {
  padding: 16px 8px;
}

.place-desc p {
  margin: 16px 0;
}

.become-speaker {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 16px;
}

.form {
  display: flex;
  flex-direction: column;
  width: 800px;
}
.form p {
  align-self: center;
}
.form-input {
  width: 50%;
}
.form .textarea {
  margin-top: 16px;
}
.form .form-input:first-child {
  margin-right: 16px;
}
.form label {
  align-self: flex-start;
}

.form button {
  margin-top: 16px;
}

.footer {
  background: linear-gradient(to right, var(--blue), rgb(37, 88, 122));
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 8px 48px;
}

.footer a {
  color: var(--white);
  width: 100px;
}

@media screen and (max-width: 900px) {
  .cards {
    flex-direction: column;
  }
  .form {
    width: 100%;
  }
}
@media screen and (max-width: 600px) {
  html,
  body {
    font-size: 12px;
  }
  .links {
    display: none;
  }
  .content {
    width: 100%;
    position: relative;
    align-self: center;
    z-index: 10;
    text-align: center;
    right: auto;
    padding: 16px;
  }
  .speaker-card {
    width: 100%;
    margin: 0;
  }
  .place {
    flex-direction: column;
  }

  .footer {
    flex-direction: column;
    justify-content: center;
    height: 250px;
    padding: 16px;
    flex-wrap: wrap;
  }

  .footer > * {
    margin-bottom: 16px;
  }
}
